{{!-- Row 1 :- date range filter --}}
<section>
    <form>
    <div class="row">
        <div  class="col-md-6 mb-3">
            <label>Start Date</label>
            <input type="date" class="form-control" placeholder="Start Date">
        </div>
        <div  class="col-md-6 mb-3">
            <label>End Date</label>
            <input type="date" class="form-control" placeholder="End Date">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Display Data</button>
    </form>
</section>

{{!-- Row2– Detail Order Report --}}
<section>
    <h4>Detailed Order Report</h4>
    <table class="table table-sm">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">UserName</th>
        <th scope="col">OrderNo</th>
        <th scope="col">OrderDetailed</th>
        <th scope="col">Status</th>
        <th scope="col">TotalAmount</th>
        <th scope="col">TotalQty</th>
        <th scope="col">TotalProductCount</th>
        <th scope="col">View/Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        </tr>
    </tbody>
    </table>
</section>