header{
    position: fixed;
    top: 0;
    background: #343a40;
    margin-bottom: 2%;
    color: white;
    text-align: center;
    padding: 1%;
    width: 100vw;
    z-index: 100;
}

footer{
    height: 10vh;
    background: #343a40;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

#date-filter, #back-btn{
    margin-top: 15vh;
    margin-bottom: 25px;
}

#back-btn a{
    border: 2px #343a40 solid;
    padding: 0px 5px;
    font-weight: bold;
    border-radius: 5px;
}

#report-table{
    margin-bottom: 15vh;
}

.card{
    text-align: center;
    font-weight: 700;
}

.card li{
    box-shadow: 0px 0px 2px;
}

#data-table{
    overflow-y: auto;
    margin: 20px auto;
}

#btn-cont{
    padding: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

#btn-cont button{
    margin: 10px 20px;
}